body {
	background: url(b1.jpg);
	background-color: #FAEBD7;
	width: 99%;
	height: 100%;
	margin: 0;
	

}
.bald {
	width: 100px;  
	font-size: 50px;
	display: inline;
	
}

.thin {
	height: 2%;
	width: 70%;

}
.ttop {
    margin: 0;
	background: white;
	opacity: 0.5;
	filter:"alpha(opacity=50)";
	height :100px;
	width: 101%;
	line-height: 120px;
}
p, h2 {
	text-align:center;
}
body ul li {
	display: inline-block;
	list-style-type: none
}
ul{
    display:inline;
}
